@{
    ViewBag.Title = "TourForYou";
}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        <a href="#">Туристичне агентство</a>
                    </h2>

                    <div class="container-fluid">
                        <img class="featurette-image img-responsive center-block" src="https://i.kinja-img.com/gawker-media/image/upload/s--h-a2_GrF--/c_scale,f_auto,fl_progressive,q_80,w_800/beqb1zaqxjcb9siwilib.jpg" alt="Generic placeholder image">
                    </div>

                </a>

                <div class="row">
                    <h5 class="post-subtitle"></h5>

                    <h5 class="post-subtitle">
                        Тури́зм — тимчасовий виїзд особи з місця постійного проживання в оздоровчих, пізнавальних, професійно-ділових чи інших цілях без здійснення оплачуваної діяльності в місці перебування.
                    </h5>
                    <h5 class="post-subtitle">
                        Туризм проявляється як форма суспільного споживання специфічних благ, послуг та товарів, що об'єктивно розвинулась внаслідок соціологізації відтворювальної функції, утворивши галузь діяльності зі створення цього специфічного продукту та організації його споживання, яка за кінцевим призначенням та характером діяльності належить до споживчих галузей господарства.
                    </h5>
                    <h5 class="post-subtitle">
                        Туристський агент — організація, що займається продажем сформованих туроператором турів.
                    </h5>
                    <h5 class="post-subtitle">
                        Давно залишилися в минулому (на жаль, не для всіх) часи, коли основними інструментами співробітників туристичних агентств для роботи з клієнтами були папір і ручка. На зміну канцелярським приладдям поступово прийшли комп'ютерні табличні редактори. Прогрес не стояв на місці. Кожен рік збільшуються клієнтські бази, посилюється конкуренція на ринку, тому від турагентств вимагаються нові рішення, які дозволяли б працювати простіше, швидше і ефективніше. Ними стали системи автоматизації.
                    </h5>
                    <h5 class="post-subtitle">
                        Наш сайт допоможе вам працювати легше!
                    </h5>
                    <p class="post-meta">

                        <a href="#">Катрич Ірина</a>
                        01 квітня, 2019
                    </p>
                </div>
            </div>
                <hr>

                <hr>

                <hr>
                <!-- Pager -->

            </div>
    </div>
</div>

