@{
    ViewBag.Title = "Контакти";
}

<h3>@ViewBag.Message</h3>

<address>
    ПІ-15-1<br />
    ІФНТУНГ<br />
    Івано-Франківськ, Україна<br />

</address>

<address>
    <strong>Підтримка:</strong>   <a href="mailto:Support@example.com">iryna.katrych@gmail.com</a><br />
    <strong>Maркетинг:</strong> <a href="mailto:Marketing@example.com">oksana.onufreiv@gmail.com</a>
</address>